@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h2>Department Details</h2>
<hr />
<h3>Department Title: @Html.DisplayFor(model => model.DepartmentTitle)</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This Department does not have any related courses.</p>
}
else
{
  <h4>Courses enrolled in this Department:</h4>
  <ul>
  @foreach(var join in Model.Courses)
  {
    <li>@join.Course.CourseTitle</li>
  }
  </ul>
}


@if(@Model.Students.Count == 0)
{
  <p>This Department does not have any students enrolled.</p>
}
else
{
  <h4>Students enrolled in this Department:</h4>
  <ul>
  
  @foreach(var join in Model.Students)
  {
    <li>@join.Student.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to departments", "Index")</p>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>
